* {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(238, 222, 222);
  background-color: rgb(30, 137, 76);
}

.welcomebar {
  font-size: 600;
}

.welcomebar h1 {
  padding: 0.8rem;
  letter-spacing: 0.2rem;
  border: solid white 0.3rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 500px;
  margin: 0.5rem 1rem;
}

.welcomebar span {
  background-color: none;
}

.welcomebar button {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.welcomebar section {
  padding: 1rem 1rem 0rem 1rem;
}

.welcomeName {
  margin-top: -1.5rem;
}

.container {
  padding: 1rem;
}

.container h2 {
  margin-top: 1.5rem;
}

.login {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8rem;
  text-align: center;
}

.container h3 {
  margin-top: 0.6rem;
}

.searchbar {
  margin-top: 0.5rem;
  border: solid black 2px;
  border-radius: 20px;
  background-color: rgb(28, 116, 216);
  padding: 0.5rem;
}

::placeholder {
  color: white !important;
  font-size: 0.8em;
}

.searchbar:focus {
  color: black;
}

.product-card {
  margin: 1.5rem 0;
}

.product-card h4 {
  margin: 2.5rem 0 1rem 0;
  font-size: large;
  font-style: oblique;
  font-weight: 700;
  letter-spacing: 0.2rem;
  border: 3px solid black;
  background-color: rgb(30, 137, 76);
  border-radius: 20px;
  color: white;
}

.product-card a {
  border-radius: 30px;
  font-size: large;
}

.product-card p {
  font-size: small;
  font-weight: 400;
  color: white;
  letter-spacing: 0.2rem;
  font-style: italic;
  background-color: black;
  border-radius: 20px;
}

.product-card img {
  border-radius: 30px;
  margin: 0.8rem 0 0 0;
}

.add {
  font-size: medium;
  font-weight: 500;
}

.addicon {
  display: inline-block;
  text-decoration: none;
}

svg {
  stroke: none;
  stroke-width: 0px;
}

.SignupPage input {
  border-radius: 30px;
  font-size: small;
  padding: 4px 1px;
  border: 1px solid black;
}

.SignupPage form {
  margin: 1rem 0;
}

.SignupPage form button {
  margin-top: 1rem;
  border: 1px solid black;
  background-color: white;
  color: rgb(30, 137, 76);
  border-radius: 20px;
  padding: 0.7rem;
}

.SignupPage label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 34px;
  margin-bottom: 10px;
}

.footer-signup {
  margin-top: 1.7rem;
}

.LoginPage label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 14px;
  margin: 1rem 0;
}

.LoginPage input {
  border-radius: 30px;
  font-size: small;
  padding: 4px 1px;
  border: 1px solid black;
}

.LoginPage form {
  margin: 1rem 0;
}

.LoginPage form button {
  margin-top: 2rem;
  background-color: white;
  padding: 10px 30px;
  border-radius: 20px;
  color: rgb(30, 137, 76);
  font-weight: 800;
}

.LoginPage p {
  margin-bottom: 0-5rem;
  margin-top: 2rem;
}

.login-container {
  margin-top: 2rem;
}

.anotheruser {
  margin-top: -1.5rem;
}

.container-detail {
  padding: 2rem;
}

.container-detail h2 {
  font-size: large;
  font-style: oblique;
  font-weight: 700;
  letter-spacing: 0.2rem;
  border: 3px solid black;
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 0.8rem;
}

.container-detail p {
  margin-top: 1rem;
  letter-spacing: 0.1rem;
}

.container-detail img {
  margin: 1rem 0;
}

.edit-delete {
  display: flex;
  justify-content: space-evenly;
}

.editLink {
  border: 2px solid black;
  background-color: white;
  color: rgb(30, 137, 76);
  padding: 0.5rem;
  border-radius: 20px;
}

.editLink a {
  background-color: white;
}

.deleteBtn {
  border: 2px solid black;
  background-color: rgb(179, 0, 0);
  color: black;
  padding: 0.5rem;
  border-radius: 20px;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
}

.price {
  margin-bottom: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  font-weight: 600;
}

.addProduct h1 {
  margin-top: 1rem;
  font-weight: 600;
  border: 2px solid black;
}

.addLabels {
  text-align: center;
  border: solid rgb(30, 137, 76) 3px;
  padding: 1rem;
  color: white;
  font-weight: 400;
  font-style: italic;
}

.addLabels input {
  margin: 0.3rem 1rem 1rem 1rem;
  border-radius: 20px;
}

.addLabels input:focus {
  background-color: rgb(30, 137, 76);
  color: white;
}

.addLabels button {
  margin-top: 1rem;
  border: solid 3px white;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: white;
  color: rgb(30, 137, 76);
  font-weight: 700;
}

.edit-product {
  text-align: center;
  border: solid rgb(30, 137, 76) 3px;
  padding: 1rem;
  color: white;
  font-weight: 400;
  font-style: italic;
}

.edit-product h1 {
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  border: solid 3px white;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: white;
  color: rgb(30, 137, 76);
  font-weight: 500;
}

.edit-product input {
  margin: 0.3rem 1rem 1rem 1rem;
  border-radius: 20px;
  color: black;
}

.edit-product input:focus {
  background-color: rgb(30, 137, 76);
  color: white;
}

.edit-product button {
  margin-top: 1rem;
  border: solid 3px white;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: white;
  color: rgb(30, 137, 76);
  font-weight: 700;
}

.edit-product svg {
  background-color: white;
}

a.social {
  margin: 0.8rem 0.7rem;
  transition: transform 250ms;
  display: inline-block;
}

.social-container svg {
  background: none !important;
}

a.gmail {
  padding: 0.3rem;
  background: #eb3223;
  border-radius: 10px;
}

a.facebook {
  padding: 0.3rem;
  background: #1f4eb4;
  border-radius: 10px;
}

a.github {
  padding: 0.3rem;
  border-radius: 10px;
  background: black;
}

a.instagram {
  padding: 0.3rem;
  background: purple;
  border-radius: 10px;
}

.client {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  border: 0.2rem solid black;
  margin-top: 2rem;
}

.testimonials {
  padding: 1.5rem;
}

.client img {
  width: 100%;
  height: 100%;
}

.container-about {
  padding: 1.5rem;
}

.pictures-about {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.container-about h1 {
  font-size: large;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.container-about p {
  line-height: 2rem;
}

.likeIt {
  padding: 1rem;
}

.contactUs {
  padding: 1rem;
}
